<div class="container-fluid">
  <h1>Todas tus recetas</h1>
   
  <table class="table table-hover">
    <tr>
      <th><%= link_to 'Categoria', recipes_path(sort_by: "category") %></th>
      <th><%= link_to 'Titulo', recipes_path(sort_by: "title") %></th>
      <th>Porciones</th>
      <th>Acciones</th>
    </tr>

    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.category %></td>
        <td><%= recipe.title %></td>
        <td><%= recipe.serving %></td>
        <td>
          <%= link_to 'Ver más', recipe_path(recipe) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>