<h2><%= @recipe.title %></h2>
<div class="container-fluid">
	<div>
		<h3><%= @recipe.category %></h3>
	</div>

	<div>
		<h5>Ingredientes:</h5>
		<p><%= simple_format @recipe.ingredients %></p>
	</div>

	<div>
		<h5>Preparación:</h5>
		<p><%= simple_format @recipe.text %></p>
	</div>

	<div class="row">
		<%= link_to 'Volver', recipes_path %>
	</div>
</div>