<!DOCTYPE html>
<html>
<head>
  <title>ValeRecipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header class="navbar navbar-inverse">
      <div class="container">
        <h1><%= link_to "Recetas de Vale", recipes_path %></h1>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
</body>
</html>
